header {
    position: sticky;
    top: 0;
    z-index: 999999999;
    background-color: transparent;
 }
 
 .navbar-main {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
 }
 
 .nav__menu-bar {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 13px;
    border-radius: 50%;
    z-index: 9999
 }
 
 .nav__menu-bar div {
    width: 33px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
 }
 
 .nav__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 288px;
    row-gap: 24px;
    padding: 24px 16px;
    right: -1588px;
    min-height: calc(100vh - 60px);
    min-width: 40vw;
    background-color: rgb(36, 101, 237);
    transition: all 0.6s;
 }
 
 .nav__menu-list.active {
    right: 0;
 }
 
 .nav__link {
    font-size: 18px;
    position: relative;
    transition: all 0.2s;
 }
 
 .nav__link.active {
    font-weight: bold;
 }
 
 .nav__link:hover {
    font-weight: bold;
 }
 
 .center {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .navbar-content-part{
    /* background-color: red; */
    color: #000;
 }

 .nav-link-wrapper{
    display: flex;
    flex-direction: column;
 }
 .nav-link-wrapper>a{
     margin: 20px 0px;
 }
 
 @media screen and (min-width: 1600px) {
    .nav__menu-bar {
       display: block;
       padding-left: 1200px;
    }
 
    .nav__menu-bar {
       display: flex;
       flex-direction: column;
       row-gap: 6px;
       cursor: pointer;
    }
 
    .nav__menu-bar div {
       width: 40px;
       height: 4px;
       background-color: black;
       border-radius: 2px;
    }
 
    .nav__menu-list {
       position: unset;
       min-height: fit-content;
       width: fit-content;
       flex-direction: row;
       column-gap: 24px;
       align-items: center;
       padding-left: 500px;
       display: flex;
       justify-content: center;
    }
 
    .nav__link::before {
       content: "";
       position: absolute;
       width: 0%;
       bottom: -16px;
       left: 0;
       height: 6px;
       transition: all 0.2s;
       background-color: black;
    }
 
    .nav__link:hover::before,
    .nav__link.active::before {
       width: 100%;
    }
 }